/* Resetando as configurações de caixa e definindo a fonte padrão */
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* Definindo a cor do texto principal do corpo */
body {
    color: #263138;
}

/* Estilizando o cabeçalho */
header {
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row; /* Colocar itens do cabeçalho em linha */
}

/* Estilizando os links do cabeçalho */
header nav a {
    color: #ffff;
    font-weight: 600;
    padding: 16px;
    text-decoration: none;
}

/* Estilizando os itens específicos do cabeçalho */
#inicio,
#clinica,
#farmacia,
#duvida {
    margin-left: 20px; /* Adicionar margem entre os itens */
}

/* Estilizando o conteúdo principal */
.content {
    padding: 20px;
}

/* Estilizando o rodapé */
footer {
    background-color: rgba(255, 152, 108, 0.25);
    padding: 20px;
}

/* Definindo as regras de estilo para telas maiores */
@media screen and (min-width: 768px) {
    header {
        flex-direction: column; /* Empilhar itens verticalmente */
        align-items: flex-end; /* Alinhar itens do cabeçalho à direita */
    }

    /* Resetar a margem dos itens específicos do cabeçalho */
    #inicio,
    #clinica,
    #farmacia,
    #duvida {
        margin-left: 0;
    }
}