* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

header {
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column; /* Empilhar itens verticalmente */
}

header nav a {
    color: #ffff;
    font-weight: 600;
    padding: 16px;
    text-decoration: none;
    align-self: flex-end; /* Posicionar itens à direita */
}

#inicio,
#clinica,
#farmacia,
#duvida {
    align-self: flex-end; /* Posicionar itens à direita */
}

#inicio {
    order: 1; /* Define a ordem dos itens */
}

#clinica {
    order: 2; /* Define a ordem dos itens */
}

#farmacia {
    order: 3; /* Define a ordem dos itens */
}

#duvida {
    order: 4; /* Define a ordem dos itens */
}

#inicio,
#clinica,
#farmacia,
#duvida {
    margin-top: 10px; /* Adicionar espaçamento entre os itens */
}

@media screen and (min-width: 768px) {
    header {
        padding: 20px 80px;
        flex-direction: row; /* Voltar ao layout em linha */
    }

    header nav a {
        align-self: auto; /* Resetar o alinhamento */
        margin-left: 20px; /* Adicionar margem entre os itens */
    }

    #inicio,
    #clinica,
    #farmacia,
    #duvida {
        margin-top: 0; /* Resetar o espaçamento */
    }
}